asgiref==3.6.0
async-timeout==4.0.2
autopep8==2.0.2
backports.zoneinfo==0.2.1
Django==4.1.7
django-redis==5.2.0
mysqlclient==2.1.1
pycodestyle==2.10.0
qcloudsms-py==0.1.4
redis==4.5.4
sqlparse==0.4.3
tomli==2.0.1
tzdata==2023.3
